.popup-container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  z-index: 5;
}

.popup {
  display: block;
  height: max-content;
  /* width: min(300px, 100%); */
  width: clamp(310px, 30vw, 800px);
  min-height: min-content;
  background-color: rgb(216, 216, 216);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  /* max-width: calc(85vw - 20px); */
  max-height: calc(85vh - 20px);
  padding: 20px;
  word-wrap: break-word;
  overflow-y: auto;
  scroll-behavior: auto;
}

.popup__content{
  position: relative;
}


.popup::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.popup::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

.popup::-webkit-scrollbar-thumb {
  background-color: rgba(0, 131, 57, 0.8);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(216, 216, 216);  /* creates padding around scroll thumb */
}

.header {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 3px #fff;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.close-icon {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.close-icon:hover {
  fill: #c00c00;
}
