.header{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}
.product-list{
    margin-top: 5px;
    margin-bottom: 7px;
}

.link{
    color: blue;
    text-decoration: none;
}