.btn {
  width: max-content;
  height: max-content;
  color: #fff;
  text-shadow: 0px 0px 3px #000;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-create {
  margin-right: 20px;
  background-color: rgb(0, 4, 255);
}

.btn-save {
  background-color: rgb(0, 165, 0);
}

.bottom-btn-group {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.product {
  margin: 0px;
  padding: 10px 0px;
  position: relative;
}

.product-title {
  font-size: 16px;
}

.product-description {
  font-size: 12px;
  color: rgb(78, 78, 78);
  margin-top: 3px;
}

.later-title > a {
  color: rgb(17, 0, 168);
  font-size: 20px;
  text-decoration: none;
}

.checkbox-container {
  position: absolute;
  top: 4px;
  left: -30px;
}
